 @import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

div h4{
   color: white;
   text-align: center;
   
}
div h2{
   color: white;
   text-align: center;
   
}
div p{

   color: white;
   
   
}
div ul li{

   color: white;
   
   
}
div p img{
   width: 100px;
   height:100px;
   background-color: black;
   float: left;
}
   body{
   	margin:0;
   }
   header{
   	background:Black;
   	color:white;
   	padding:8px 0px 4px 40 px;
   	height:60px;
   }
   header h1{
font-family: 'Varela Round', sans-serif;
display:inline;
font-weight:300;
float:left;
margin-top: 0;
margin-right: 0;
   }
   nav ul{
   	float:left;
   	padding: 0px;
   	display:inline;
   }
   nav ul li{
   	font-family: 'Exo 2', sans-serif;

   	float:left;
   	display: inline-block;
   	list-style-type: none;
   	margin-left: 13px;
   	font-size: 25px;
   	font-weight: 300;
   	color: white;
    }
   nav ul li a{
   	color: white;
   	text-decoration: none;
   }
   #div1{
   	background-color: red;
   	height: 5px;    
   	
   }
   .homered{
   	background-color: red;
   	padding: 30px 10px 15px 10px;
   }
   body{
      background-color: black;
   }